.table-container {
    margin: 20px;
    overflow-x: auto;
  }
  
  .styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table th, .styled-table td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .styled-table tbody tr.active {
    color: green;
  }
  
  .styled-table tbody tr.inactive {
    color: red;
  }
  
  .view-button, .update-button {
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .view-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .update-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .view-button:hover, .update-button:hover {
    opacity: 0.8;
  }
  